.task_name_box {
  background-color: #3C6E71; 
  color: #ffffff;
}

.task_text {
  white-space: pre-line;
}

.date_time {
  font-size: xx-small;
}

.navbar {
  background-color: #284B63;
  color: white;
}

.nav-link {
  color:  white;
}

.newtask_container {
  border-style: dashed; 
  opacity: 0.5; 
  background-color: #D9D9D9;
}

.newtask_icon {
  font-size: 40px;
}