{% extends "layout.html" %}

{% block title %}
    Item Count
{% endblock %}

{% block script%}

<script>
    var items = [];
    var arrNames = new Set();
    document.addEventListener('DOMContentLoaded', function() {
        const table = document.getElementById("table");
        table.oldHTML = table.innerHTML;

        document.querySelector('form').onsubmit = () => {
            input_name = document.querySelector('#item').value;
            input_qty = Number(document.querySelector('#qty').value);
            input_loc = document.querySelector("#loc").value;

            document.querySelector("#last_item").value = input_name;
            document.querySelector("#last_qty").value = input_qty;
            document.querySelector("#last_loc").value = input_loc;

            for (i in items) {
                if (items[i].name === input_name) {
                    items[i].qty += input_qty;
                    items[i].loc = input_loc;
                    break;
                }
            };

            if (!arrNames.has(input_name)) {
                let item = {
                    "name": input_name,
                    "qty": input_qty,
                    "loc": input_loc
                    };
                items.push(item); 
            }

            arrNames.add(input_name)        

            table.innerHTML = table.oldHTML;
            for (item of items) {
                var row = table.insertRow(table.length);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);
                cell1.innerHTML = item["name"];
                cell2.innerHTML = item["qty"];
                cell3.innerHTML = item["loc"];
                cell4.innerHTML = `<button data-name="${item["name"]}" class="btn btn-primary button_reset">Reset</button>`;
            }

            var data = JSON.stringify(items);

            var data_to_server = document.querySelector("#serv_submit_data");
            data_to_server.value = data;

            document.querySelector("#item").value = "";
            
            document.getElementById("item").focus();

            document.querySelector("#qty").value = 1;

            event.preventDefault();
        }
    });     

</script>

{% endblock%}

{% block main %}

<div class="container border rounded shadow my-3 p-3">
    <div class="row p-3">
        <div class="col-12 col-lg-6">
            <form>
                <div class="row px-0 mx-0">           
                <div class="col-12 col-md-6">
                    <label for="item" class="form-label">Item</label>
                    <input type="text" class="form-control" id="item" name="item" autofocus required>
                </div>
                <div class="col-6 col-md-2">
                    <label for="qty" class="form-label">Qty</label>
                    <input type="number" class="form-control" id="qty" name="qty" value=1 required>
                </div>
                <div class="col-6 col-md-2">
                    <label for="loc" class="form-label">Loc</label>
                    <input type="number" class="form-control" id="loc" name="loc" required>
                </div>
                <div class="col-12 col-md-2">
                    <div class="m-2 p-2"></div>
                    <input type="submit" class="btn btn-outline-primary" value="Add Item">
                </div>
            </form>
            <div class="row px-0 mx-0 my-1">
                <div class="col-12 col-md-6 my-2">
                    <input type="text" class="form-control" id="last_item" disabled>
                </div>
                <div class="col-6 col-md-2 my-2">
                    <input type="number" class="form-control" id="last_qty" disabled>
                </div>
                <div class="col-6 col-md-2 my-2">
                    <input type="number" class="form-control" id="last_loc" disabled>
                </div>
            </div>
            <div class="row px-0 mx-0 mb-3">
                <form action="/itemcount" method="post">
                    <input type="hidden" name="serv_submit_data" id="serv_submit_data">
                    <button type="submit" id="serv_submit" class="btn btn-outline-primary">Submit Item Count</button>
                </form>
            </div>
                <form action="/upload_pronto" method="post" enctype="multipart/form-data">
                <div class="row px-0 mx-0 justify-content-center">         
                    <div class="col-12 col-md-6 mb-3">
                        <label for="formFile" class="form-label">Upload Pronto Item List</label>
                        <input class="form-control" type="file" id="formFile" name="file" required>
                    </div>              
                </div>
                {% if item_list %}
                <div class="row justify-content-center"> 
                    <div class="col">                
                        <div class="my-2 py-2"></div>
                        <button type="submit" class="btn btn-outline-primary">Generate Report <i class="bi bi-upload"></i></button>
                    </div>
                </div>
                {% endif %} 
                </form>
            <div class="row px-0 mx-0">
                <div class="col">
                    {% if report_list %}
                    <a href="/downloadreport" class="btn btn-outline-primary">Download Report</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
        <div class="col-12 col-lg-6">
            {% if item_list %}
            <table class="table"><h3>Item Count Submitted</h3>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>Loc</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in item_list %}
                    <tr>
                        <td>{{ item["name"] }}</td>
                        <td>{{ item["qty"] }}</td>
                        <td>{{ item["loc"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% else %}
            <table class="table"><h3>Item Count</h3>
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Loc</th>
                    </tr>
                </thead>
                <tbody id="table"> 
                </tbody>
                </div>
            </table>
            {% endif %}
        </div>
    </div>

    {% if report_list %}

    <div class="container">
        <div class=col-12>
            <table class="table"><h3>Count Report</h3>
                <thead>
                    <tr>
                        <th>Whse</th>
                        <th>Loc</th>
                        <th>Name</th>
                        <th>Desc</th>
                        <th>Pronto Qty</th>
                        <th>Item Count</th>
                        <th>Track</th>
                    </tr>
                </thead>
                <tbody>    
                    {% for item in report_list %}
                    <tr>                       
                        <td>{{ item["whse"] }}</td>
                        <td>{{ item["loc"] }}</td>
                        <td>{{ item["name"] }}</td>
                        <td>{{ item["desc"] }}</td>
                        <td>{{ item["pronto_qty"] }}</td>
                        <td>{{ item["item_count"] }}</td>
                        <td>{{ item["track"] }}</td>                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% endif %}

    {% if not_counted %}

    <table class="table"><h3>Items not on Pronto</h3>
        <thead>
            <tr>
                <th>Item</th>
            </tr>
        </thead>
        <tbody>
            {% for item in not_counted %}
            <tr>
                <td>{{ item }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}

{% endblock %}


