{% extends "layout.html" %}

{% block title %}
    Item Count
{% endblock %}

{% block script%}

<script>
    var items = [];
    var arrNames = new Set();
    document.addEventListener('DOMContentLoaded', function() {
        const table = document.getElementById("table");
        table.oldHTML = table.innerHTML;

        document.querySelector('form').onsubmit = () => {
            input_name = document.querySelector('#item').value;
            input_qty = Number(document.querySelector('#qty').value);
            input_loc = document.querySelector("#loc").value;

            for (i in items) {
                if (items[i].name === input_name) {
                    items[i].qty += input_qty;
                    items[i].loc = input_loc;
                    break;
                }
            };

            if (!arrNames.has(input_name)) {
                let item = {
                    "name": input_name,
                    "qty": input_qty,
                    "loc": input_loc
                    };
                items.push(item); 
            }

            arrNames.add(input_name)        

            table.innerHTML = table.oldHTML;
            for (item of items) {
                var row = table.insertRow(table.length);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);
                cell1.innerHTML = item["name"];
                cell2.innerHTML = item["qty"];
                cell3.innerHTML = item["loc"];
                cell4.innerHTML = `<button data-name="${item["name"]}" class="btn btn-primary button_reset">Reset</button>`;
            }

            var data = JSON.stringify(items);

            var data_to_server = document.querySelector("#serv_submit_data");
            data_to_server.value = data;

            document.querySelector("#item").value = "";
            
            document.getElementById("item").focus();

            event.preventDefault();
        }
    });     

</script>

{% endblock%}

{% block main %}

<div class="container border rounded shadow my-3 p-3">
    <div class="row p-3">
        <div class="col-12 col-lg-6">
            <form>
            <div class="row px-0 mx-0">           
                <div class="col-12 col-md-6">
                    <label for="item" class="form-label">Item</label>
                    <input type="text" class="form-control" id="item" name="item" autofocus required>
                </div>
                <div class="col-6 col-md-2">
                    <label for="qty" class="form-label">Qty</label>
                    <input type="number" class="form-control" id="qty" name="qty" value=1 required>
                </div>
                <div class="col-6 col-md-2">
                    <label for="loc" class="form-label">Loc</label>
                    <input type="text" class="form-control" id="loc" name="loc" required>
                </div>
                <div class="col-12 col-md-2">
                    <div class="m-2 p-2"></div>
                    <input type="submit" class="btn btn-outline-primary">
                </div>
            </form>
            </div>
            <div class="row my-3">
                <div class="col-6">
                <form action="/itemcount" method="post">
                    <input type="hidden" name="serv_submit_data" id="serv_submit_data">
                    <button type="submit" id="serv_submit" class="btn btn-outline-primary">Create Spreadsheet</button>
                </form>
                </div>
                <div class="col-6">
                    {% if item_list %}
                    <a href="/downloaditemlist" class="btn btn-outline-primary">Download spreadsheet</a>
                    {% endif %}

                </div>                   
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <table class="table"><h3>Items counted</h3>
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Loc</th>
                    </tr>
                </thead>
                <tbody id="table"> 
                </tbody>
                </div>
            </table>
        </div>
    </div>

{% endblock %}


