{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="container-flex rounded shadow my-3">
        <div class="row no-gutters m-0">    
            <div class="col-3 rounded-top bg-secondary">
            </div>
            <div class="col-9 d-flex-inline">
                <span><i class="bi bi-box-seam" style="font-size: 100px;"></i></span>
            </div>
        </div>
        <div class="row no-gutters m-0">
            <div class="col-3 rounded-bottom bg-secondary">
            </div>
            <div class="col-9 pe-5">
                <form action="/login" method="post">
                    <div class="form-floating">
                    <input type="text" class="form-control" id="floatingUser" placeholder="Username" name="username">
                    <label for="floatingUser">Username</label>
                    <div class="p-3">
                        <button class="btn btn-primary" type="submit">Log In</button>
                    </div>
                </form>
            </div>
        </div>
</div>
{% endblock %}