{% extends "layout.html" %}

{% block title %}
    New Task
{% endblock %}

{% block main %}
<form action="/newtask" method="post">
    <div class="container m-1 p-1 border shadow">
        <div class="input-group m-1 px-1">
            <label for="task_name" class="col-2 col-form-label">Task</label>
            <div class="col-9 mx-1">
            <input type="text" class="form-control" name="task_name" placeholder="e.g. 060 to 602">
            </div>
        </div>
        <div class="input-group m-1 px-1">
            <label for="reference" class="col-2 col-form-label">Ref</label>
            <div class="col-9 mx-1">
            <input type="text" class="form-control" name="reference" placeholder="e.g. Return to stock">
            </div>
        </div>
        <div class="input-group m-1 px-1">
            <textarea class="form-control" name="task" rows="8" placeholder="e.g. LG603556 x 2"></textarea>
        </div>
        <div>
            <button class="btn btn-outline-primary" type="submit">Add Task</button>
        </div>
    </div>
</form>

{% endblock %}