<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }      
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <script>
        var items = [];
        var arrNames = new Set();
        document.addEventListener('DOMContentLoaded', function() {
            const table = document.getElementById("table");
            table.oldHTML = table.innerHTML;

            document.querySelector('form').onsubmit = () => {
                input_name = document.querySelector('#test_item').value;
                input_qty = Number(document.querySelector('#test_qty').value);

                for (i in items) {
                    if (items[i].name === input_name) {
                        items[i].qty += input_qty;
                        break;
                    }
                };

                if (!arrNames.has(input_name)) {
                    let item = {
                        "name": input_name,
                        "qty": input_qty
                        };
                    items.push(item); 
                }

                arrNames.add(input_name)        

                table.innerHTML = table.oldHTML;
                for (item of items) {
                    var row = table.insertRow(table.length);
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    cell1.innerHTML = item["name"];
                    cell2.innerHTML = item["qty"];
                    cell3.innerHTML = `<button data-name="${item["name"]}" class="button_reset">Set 0</button>`;
                }

                var data = JSON.stringify(items);

                var data_to_server = document.querySelector("#serv_submit_data");
                data_to_server.value = data;

                event.preventDefault();
            }
        });     

    </script>
</head>
<body>

    <form>
        <input type="text" placeholder="item" id="test_item">
        <input type="number" id="test_qty" value="1">
        <input type="submit">
    </form>

    <table id="table">
        <caption>Items Counted</caption>
            <th>item</th>
            <th>qty</th>
    </table>

    <form action="/test" method="post">
        <input type="hidden" name="serv_submit_data" id="serv_submit_data">
        <button type="submit" id="serv_submit">Server Submit</button>
    </form>    

    {% if item_list %}
    <table>
        <thead>
            <th>Name</th>
            <th>Qty</th>
        </thead>
        <tbody>
 
            {% for item in item_list %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.qty }}</td>
                <tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/downloaditemlist">download</a>
    {% endif %}
</body>
</html>
